:root {
  --primary-color: #1b1b1b;
  --secondary-color: #ffffff;
  --default-font-family: "Roboto", sans-serif;
  --button-font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--secondary-color);
  background-color: #282323;
}

.navbar {
  background-color: #282323;
}

.navbar a:hover {
  color: #f65282 !important;
}

.hero,
.content-section {
  background-color: var(--primary-color);
  padding: 160px 20px;
  min-height: 96vh;
}

h2 {
  font-size: 32px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 30px;
}

.btn-branding {
  align-items: center;
  padding: 18px 30px;
  background: var(--secondary-color);
  border-radius: 50px;
  font-family: var(--button-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.project-description {
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 1.5;
  padding: 120px 60px;
}

.head-shot {
  max-width: 75%;
  border-radius: 3%;
  margin-left: 40px;
}

.litterati-link {
  color: #ffffff;
}

.content-section h3 {
  margin-top: 5px;
}

.content-section h2,
h3 {
  color: #f65282;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
}

.content-section h1 {
  margin-bottom: 20px;
  font-size: 64px;
  text-transform: uppercase;
  line-height: 75px;
}

.content-section p {
  margin: 20px 0 30px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.project-screenshot {
  max-width: 80%;
  border-radius: 3%;
}

.contact-link {
  color: var(--secondary-color);
}

.my-work {
  padding-bottom: 100px;
}

footer {
  background-color: #282323;
  font-size: 16px;
  margin: 13px 0;
  padding-bottom: 0;
}

footer a {
  color: var(--secondary-color);
  font-size: 16px;
  margin: 0 20px;
  border-radius: 50%;
  padding: 10px 14px;
  transition: all 150ms ease-in-out;
}

footer a:hover {
  color: var(--secondary-color);
  background-color: #f65282;
}

@media (max-width: 900px) {
  body {
    text-align: center;
    background-color: var(--primary-color);
  }

  .intro {
    margin-top: -50px;
  }

  .hero,
  .content-section {
    padding: 80px 20px;
    margin-top: 60px;
  }

  h1 {
    font-size: 55px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  footer {
    padding: 10px 10px;
    margin-bottom: 0;
  }

  .head-shot {
    margin: 0 auto;
    margin-top: -20px !important;
    margin-bottom: 20px;
  }

  .get-in-touch {
    margin-top: -30px;
  }

  .my-work {
    padding-bottom: 5px;
    font-size: 48px !important;
  }

  .get-in-touch {
    font-size: 48px !important;
  }
 
}
